<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../font-awesome.min.css" />

    <link rel="icon" href="./images/shape_logo_bookchimp.svg" />
    <title>BookChimp - A Jungle Full of Books</title>
  </head>
  <body>
    <div class="nav-container fixed-top">
      <nav class="nav">
        <div class="logo_text">
          <a href="./home"
            ><img src="./images/text_logo_bookchimp.svg" alt=""
          /></a>
        </div>
        <div class="logo_shape">
          <a href="./home"
            ><img src="./images/shape_logo_bookchimp.svg" alt=""
          /></a>
        </div>
        <ul class="tabs">
          <li><a href="./about">About</a></li>
          <% if(userid != null){ %>
          <li><a href="./profile">My Profile</a></li>
          <li>
            <form id="logout-form" method="post" action="../api/user/logout">
              <input type="hidden" name="name" value="value" />
              <a
                href="javascript:"
                onclick="document.getElementById('logout-form').submit();"
                >Logout</a
              >
            </form>
          </li>
          <% } else { %>
          <li><a href="./login">Login</a></li>
          <li><a href="./register">Register</a></li>
          <% } %>
        </ul>
      </nav>
    </div>

    <section>
      <div class="container">
        <div
          class="row height d-flex justify-content-center align-items-center"
        >
          <div class="col-md-8">
            <form action="./api/user/search" method="post" class="search">
              <i
                class="fa fa-search"
                aria-hidden="true"
                style="color: black"
              ></i>
              <input
                type="text"
                class="form-control"
                placeholder="Search any books..."
                name="searchText"
              />
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="new-releases">
      <div class="section-title">
        <h4>New Releases</h4>
      </div>

      <div class="books-container">
        <% var NewBooks = books.slice(Math.max(books.length - 4, 0)) %> <%
        NewBooks.forEach((book)=>{ %>
        <div class="card book-item">
          <img
            class="card-img-top"
            src="<%= book.link %>"
            alt="Card image cap"
          />
          <a href="">
            <div class="card-img-overlay">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text"><%= book.desc %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </section>

    <section class="popular-books">
      <div class="section-title">
        <h4>Popular Books</h4>
      </div>

      <div class="books-container">
        <% books.forEach((book)=>{ %>
        <div class="card book-item bg-dark text-white">
          <img class="card-img" src="<%= book.link %>" alt="Card image" />
          <a href="">
            <div class="card-img-overlay">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text"><%= book.desc %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </section>
  </body>
</html>
